<script setup lang="ts">
import type { FiltersInterface, FilterUpdate, Category } from "@/interfaces";

defineProps<{
  filters: FiltersInterface;
  nbOfProducts: number;
}>();

const emit = defineEmits<{
  (e: "updateFilters", filterUpdate: FilterUpdate): void;
}>();
</script>

<template>
  <div class="p-20 d-flex flex-column">
    <section class="mb-20">
      <h3 class="mb-10">Rechercher</h3>
      <input
        :value="filters.search"
        type="text"
        placeholder="Rechercher ..."
        @input="emit('updateFilters', { search: ($event.target as HTMLInputElement).value })"
      />
    </section>
    <section class="mb-20">
      <h3 class="mb-10">Trier par prix</h3>

      <div
        class="mb-5"
        v-for="(priceRange, index) of ([
          [0, 10000],
          [800, 1000],
          [1000, 1500],
          [1500, 2000],
          [2000, 100000],
        ] as [number, number][])"
        :key="index"
      >
        <input
          type="radio"
          name="priceRange"
          :id="priceRange[0] + ''"
          @input="emit('updateFilters', { priceRange })"
          :checked="filters.priceRange[0] === priceRange[0]"
        />
        <label :for="priceRange[0] + ''">{{
          priceRange[0] === 0
            ? "Tous les prix"
            : priceRange[0] === 2000
            ? "+2000€"
            : `${priceRange[0]}€ et ${priceRange[1]}€`
        }}</label>
      </div>
    </section>
    <section class="mb-20 flex-fill">
      <h3 class="mb-10">Trier par catégories</h3>
      <p
        class="category"
        :class="{ selected: filters.category === category }"
        v-for="(category, index) in (['all', 'desktop', 'gamer', 'streaming'] as Category[])"
        :key="index"
        @click="emit('updateFilters', { category })"
      >
        {{ category }}
      </p>
    </section>

    <small>
      Nombre de résultat : <strong>{{ nbOfProducts }}</strong>
    </small>
    <button class="btn btn-danger" @click="emit('updateFilters', {})">
      Supprimer les filtres
    </button>
  </div>
</template>

<style lang="scss">
.category {
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;

  &:hover,
  &.selected {
    color: rgb(79, 124, 248);
  }

  &.selected {
    font-weight: 600;
  }
}
</style>
