<script setup lang="ts">
import { defineProps, defineEmits } from "vue";
import ShopProductList from "@/components/Shop/ShopProductList.vue";
import ShopFilters from "@/components/Shop/ShopFilters.vue";
import type {
  ProductInterface,
  FilterUpdate,
  FiltersInterface,
} from "@/interfaces";

defineProps<{
  products: ProductInterface[];
  filters: FiltersInterface;
}>();

const emit = defineEmits<{
  (e: "addProductToCart", productId: number): void;
  (e: "updateFilters", udpateFilter: FilterUpdate): void;
}>();
</script>

<template>
  <div class="d-flex flex-row">
    <ShopFilters
      :filters="filters"
      :nbOfProducts="products.length"
      @updateFilters="emit('updateFilters', $event)"
      class="shop-filter"
    />
    <ShopProductList
      :products="products"
      @addProductToCart="emit('addProductToCart', $event)"
    />
  </div>
</template>

<style lang="scss" scoped>
.shop-filter {
  flex: 0 0 200px;
}
</style>
