<script setup lang="ts">
import { defineProps, defineEmits, computed } from "vue";
import CartProductList from "@/components/Cart/CartProductList.vue";
import type { CartProductInterface } from "@/interfaces";

const props = defineProps<{
  cart: CartProductInterface[];
}>();

const emit = defineEmits<{
  (e: "deleteProductFromCart", productId: number): void;
}>();

const totalPrice = computed(() => {
  return props.cart.reduce((acc, product) => {
    return acc + product.price * product.qty;
  }, 0);
});
</script>

<template>
  <div class="p-20 d-flex flex-column">
    <h2 class="mb-10">Panier :</h2>
    <CartProductList
      class="flex-fill"
      :cart="cart"
      @delete-product-from-cart="emit('deleteProductFromCart', $event)"
    />
    <button class="btn btn-success">Commander ({{ totalPrice }}€)</button>
  </div>
</template>

<style lang="scss" scoped></style>
