@import "@fontsource/roboto";

// ----------------------
// VARIABLES :
// ----------------------
:root {
  // ----------------------
  // FONTS :
  --font-family: "Roboto", sans-serif;

  // ----------------------
  // COLORS :
  --primary-1: #3498db;
  --primary-2: #2980b9;
  --danger-1: #e74c3c;
  --danger-2: #c0392b;
  --success-1: #2ecc71;
  --success-2: #27ae60;
  --text-color: #353b48;
  --text-primary-color: #fff;
  --gray-1: #f5f6fa;
  --gray-2: #dcdde1;
  --gray-3: #34495e;

  // ----------------------
  // BORDER :
  --border: 1px solid var(--gray-2);
  --border-radius: 4px;
}

// ----------------------
// RESET ELEMENT :
// ----------------------
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  color: var(--text-color);
  background-color: var(--gray-1);
}

// ----------------------
// Class Utilitaires :
// ----------------------
.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex-fill {
  flex: 1 1 auto;
}

.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-30 {
  margin: 30px;
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}

.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}

.btn {
  padding: 8px 15px;
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;

  &-primary {
    color: var(--text-primary-color);
    background-color: var(--primary-1);
    &:hover {
      background-color: var(--primary-2);
    }
  }
  &-danger {
    color: var(--text-primary-color);
    background-color: var(--danger-1);
    &:hover {
      background-color: var(--danger-2);
    }
  }
  &-success {
    color: var(--text-primary-color);
    background-color: var(--success-1);
    &:hover {
      background-color: var(--success-2);
    }
  }
}

input {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 8px 15px;
}
