<script setup lang="ts"></script>

<template>
  <footer class="d-flex items-center justify-center">
    <p>Copyright © 2014-2022 DamienW</p>
  </footer>
</template>

<style lang="scss" scoped>
footer {
  background-color: var(--gray-3);
  color: var(--text-primary-color);
}
</style>
