<script setup lang="ts">
import { computed, reactive } from "vue";
import TheHeader from "@/components/TheHeader.vue";
import TheFooter from "@/components/TheFooter.vue";
import TheShop from "@/components/Shop/TheShop.vue";
import TheCart from "@/components/Cart/TheCart.vue";
import data from "./data/product";
import type {
  CartProductInterface,
  ProductInterface,
  FiltersInterface,
  FilterUpdate,
} from "@/interfaces";

import { DEFAULT_FILTERS } from "./data/filters";

const state = reactive<{
  products: ProductInterface[];
  cart: CartProductInterface[];
  filters: FiltersInterface;
}>({
  products: data,
  cart: [],
  filters: { ...DEFAULT_FILTERS },
});

const addProductToCart = (productId: number): void => {
  const product = state.products.find((product) => product.id === productId);
  if (product) {
    const cartProduct = state.cart.find((product) => product.id === productId);
    if (cartProduct) {
      cartProduct.qty++;
    } else {
      state.cart.push({ ...product, qty: 1 });
    }
  }
};

const deleteProductFromCart = (productId: number): void => {
  const cartProduct = state.cart.find((product) => product.id === productId);
  if (cartProduct) {
    if (cartProduct?.qty === 1) {
      state.cart = state.cart.filter((product) => product.id !== productId);
    } else {
      cartProduct.qty--;
    }
  }
};

const cartEmpty = computed(() => state.cart.length === 0);

const filteredProducts = computed(() => {
  return state.products.filter((product) => {
    if (
      product.title
        .toLocaleLowerCase()
        .startsWith(state.filters.search.toLocaleLowerCase()) &&
      product.price >= state.filters.priceRange[0] &&
      product.price <= state.filters.priceRange[1] &&
      (product.category === state.filters.category ||
        state.filters.category === "all")
    ) {
      return true;
    } else {
      return false;
    }
  });
});

const updateFilters = (filterUpdate: FilterUpdate) => {
  if (filterUpdate.search !== undefined) {
    state.filters.search = filterUpdate.search;
  } else if (filterUpdate.priceRange) {
    state.filters.priceRange = filterUpdate.priceRange;
  } else if (filterUpdate.category) {
    state.filters.category = filterUpdate.category;
  } else {
    state.filters = { ...DEFAULT_FILTERS };
  }
};
</script>

<template>
  <div
    class="app_container"
    :class="{
      gridEmpty: cartEmpty,
    }"
  >
    <TheHeader class="header" />
    <TheShop
      class="shop"
      :products="filteredProducts"
      :filters="state.filters"
      @addProductToCart="addProductToCart"
      @updateFilters="updateFilters"
    />
    <TheCart
      v-if="!cartEmpty"
      class="cart"
      :cart="state.cart"
      @deleteProductFromCart="deleteProductFromCart"
    />
    <TheFooter class="footer" />
  </div>
</template>

<style lang="scss">
@import "./assets/scss/base.scss";
@import "./assets/scss/debug.scss";

.app_container {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header header" "shop cart" "footer footer";
  grid-template-columns: 75% 25%;
  grid-template-rows: 48px auto 48px;
}

.gridEmpty {
  grid-template-areas: "header" "shop" "footer";
  grid-template-columns: 100%;
}

.header {
  grid-area: header;
}
.shop {
  grid-area: shop;
}
.cart {
  grid-area: cart;
  border-left: var(--border);
  background-color: white;
}
.footer {
  grid-area: footer;
}
</style>
